@page
@model OdeToFood.Pages.Restaurants.NotfoundModel
@{
    ViewData["Title"] = "Notfound";
}

<h1>Your restaurant Notfound</h1>
<a asp-page="./List" class="btn btn-outline-primary">See all restaurants</a>

